body{
    margin: 0;
}


header {
position: sticky;
width: 100%;
height: 35%;
background-color: blue;
display: flex;
justify-content: center;
}

button{
    border-radius: 15%;
    
    margin-left: 25px;
    width: 110%;
}
.button_1 :hover{
    background-color: blue;
    color: white;
}


.skibidi{
    background-color: green;
}